body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.App{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70vw;
    text-align: center;

}
.contador{
    background-color: whitesmoke;
    border: 2px outset gray;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    font-size: 40px;
}
.botones{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.button{
    border: 2px outset gray;
    padding: 8px 16px;
    border-radius: 4px;
    color: whitesmoke;
    width: 100%;
    font-family: monospace;
    font-size: 20px;
}
.button:hover{
    transform: scale(1.04);
}
.button-click{
    background-color: forestgreen;
}
.button-borrar{
    background-color: crimson;
}

@media screen and (min-width:578px) {
    .App{
        width: 30vw;
    }
}