body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #172c3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70vw;
    text-align: center;

}
.contador{
    background-color: whitesmoke;
    border: 2px outset gray;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: black;
}
.botones{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.button{
    border: 1px solid whitesmoke;
    padding: 8px 16px;
    border-radius: 8px;
    color: whitesmoke;
    width: 100%;
    font-size: 20px;
}
.button:hover{
    transform: scale(1.04);
}
.button-click{
    background-color: royalblue;
}
.button-borrar{
    background-color: darkviolet;
}

@media screen and (min-width:578px) {
    .App{
        width: 30vw;
    }
}